body {
  color: black;
  background-image: repeating-conic-gradient(purple 10%,  pink 5%,  blue 20%);
  }
h1 { 
  padding-right: 50px;
  padding-left: 50px;
  color: yellow; 
  font-family: 'Holtwood One SC', serif; 
  font-size:100px;
  line-height: 120px; 
  text-decoration:underline; 50px;
  text-decoration-color: aqua;
  
}
h2 {
  color:#7ed8a7; 
  padding-left:100px;
  font-family: 'Arbutus', serif; 
  font-size:60px;
  text-shadow: red 5px 10px;
}

h3 {
  color: plum;
  font-family:cursive;
  font-size: 40px;
  text-shadow:yellow 1px 3px;
}


p {
  color:greenyellow; font-weight: 400; font-family: 'Peralta', serif; font-size:25px
}

.text-div { width:500px;}

.column {
padding-left: 100px; resize: horizontal; vertical-align: text-top; display: flex; flex-direction: column; border: 5px; border-color: aqua;
}


.row {  vertical-align: text-top;  

  display: flex; flex-direction:row; flex: space-between; justify-content: flex-start; align-items:flex-start;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 50%; 
  left: 30%; 
  transform: translate(-50%, -50%); 
  color: rgb(255, 0, 251); 
  padding: 10px 20px; 
  font-size: 100px; 
  font-family: 'Arbutus', serif;
  text-align: center;}


  .wrapper {
    position: relative;
  }
  
  .bottom-box {
    position: relative;
    z-index: 1;
 
    height: 8em;
    margin-bottom: 1em;
    margin-top: 2em;
  }
  .top-box {
    position: absolute;
    z-index: 3; /* put .gold-box above .green-box and .dashed-box */
    width: 80%;
    left: 80%;
    margin-bottom: 1em;
    height: 3em; 
    top:100px;
  }
  .middle-box {
    position: absolute;
    z-index: 2; /* put .green-box above .dashed-box */

    width: 20%;
    left: 75%;
    top: -50px;
 
  }
  
  .top-box2 {
    position: absolute;
    z-index: 3; /* put .gold-box above .green-box and .dashed-box */
    width: 80%;
 
    margin-bottom: 1em;
    height: 3em; 
left: 1100px;
    top:200px;
  }
   